.homepage-img-background {
  position: absolute;
  top: 0px;
  width: 100%;
  max-width: 100vw;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(40%);
}

.homepage-description {
  min-height: 20vh;
  margin-top: 60vh;
}

.homepage-button {
  padding: 1.5% 3% 1.5% 3%;
  border-radius: 100px;
  background: #4c767a;
  border: 2px solid rgb(39, 61, 63);
  box-shadow: 0px 0px 10px 2px #525252;
  color: white;
}

.homepage-button,
.homepage-button:active,
.homepage-button:hover {
  color: white;
}
.homepage-description-text {
  width: 50vw;
  color: white;
}

.homepage-h3 {
  text-align: center;
  margin-top: 3%;
}

.homepage-map {
  background: rgb(46, 46, 46);
  background: linear-gradient(
    59deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(135, 134, 134, 1) 63%,
    rgba(134, 135, 135, 1) 100%
  );
  padding: 1% 0 3% 0;
  margin-top: 3%;
  color: white;
}
@media (max-width: 921px) {
  .homepage-description {
    min-height: 90vh;
    margin-top: 0;
  }
}
